
.header {
	background-image: url(/img/web/GameFrame_top.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	width: 1600;
	height: 128px;
}

.container {
	overflow: scroll;
	white-space: nowrap;
	width: 100%;
}

.leftborder {
	float: left;
	background-image: url(/img/web/GameFrame_left.png);
	background-repeat: no-repeat;
	background-position: right center;
	width: 144px;
	height: 716px;
}

.stage {
	float: left;
	overflow: hidden;
}

#stage {
	overflow: hidden;
}

.rightborder {
	float: right;
	background-image: url(/img/web/GameFrame_right.png);
	background-repeat: no-repeat;
	background-position: left center;
	width: 144px;
	height: 716px;
}

.footer {
	float: left;
	background-image: url(/img/web/GameFrame_bottom.png);
	background-repeat: no-repeat;
	background-position: center top;
	width: 100%;
	height: 128px;
}